body {
}

.navbar-main {
	background: rgba(255, 255, 255, 0.8);
}

#map {
	width: 100%;
	height: 100vh;
}

.big-number {
	font-size: 100px;
	font-weight: lighter;
}

#MicrosoftNav {
	padding-top: 60px;
}